@import './ui.css';

:root {
    --background-color: #000;
    --text-color: #FFF;
}
* {
    background-color: var(--background-color);
    color: var(--text-color);
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}
canvas {
    background-color: none;
    display: block;
    width: 100%;
    height: 100%;
}