#model-select {
    z-index: 100;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid #444;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Credits Footer */
#credits * {
    margin: 0;
    background: #00000000;
    color: #fff;
}
#credits {
    z-index: 100;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    background: #00000080;
    backdrop-filter: blur(5px);
    font-size: 12px;
}
#credits a {
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
#credits a:hover {
    color: #0ff;
    border-bottom: 1px solid #0ff;
}